@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Anton&family=BBH+Hegarty&family=Barrio&family=Comic+Relief:wght@400;700&family=Delius&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Hind+Siliguri:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Bubbles&family=Sekuya&family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Anton&family=BBH+Hegarty&family=Barrio&family=Comic+Relief:wght@400;700&family=Delius&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Hind+Siliguri:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Bubbles&family=Sekuya&family=Story+Script&display=swap');
@import "tailwindcss";

/* You can add your own custom styles here */
/* ... */

@theme {
  --font-lora : 'Lora', serif;
  --font-inter: 'Inter', serif;
  --color-transp-gray: #7f8993;
  --color-dark-green: #198f6e;
  --color-secondary: rgb(26, 36, 46);
  --color-calender: rgb(20, 120, 227);
  --color-time-card-bg: rgb(19, 128, 237);

  --color-time-white: rgb(253, 255, 250);
  --color-clock-blue: rgb(161, 204, 247);
  --color-clock-blue-t: rgb(67, 153, 240);
  --color-trans-yellow: rgb(49, 51, 46);
}

body {
  background-color: rgb(16, 24, 33);
}